@import "../../../sass//partials/variables";

.pac-container {
  font-family: $font-primary;
  border-radius: $border-radius-primary;
}
.pac-item,
.pac-item-query {
  color: $color-dark;
  padding: 0.7em;
}
.pac-item:hover {
  background: $color-background;
}

.add__facilities {
    display: flex;
    flex-direction: column;
  overflow: hidden;
  flex-wrap: nowrap !important;
  height: 335px;
  background: white;
  position: relative;

  &--expand {
    display: flex;
    align-items: center;
    gap: .9em;
    cursor: pointer;

    &:hover {
      color: $color-secondary;
    }
  }
}

.add__facilities--show {
  height: 100%;
}

.remove__image {
  position: absolute; 
  bottom: 0; 
  width: 100%; 
  left: 0;
  background: $color-error;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  padding: .2em 0;
  border-radius: 0 0 12px 12px;

  &:hover {
    filter: brightness(.8);
  }
}
