/*Loader from react loaders*/
.loader-container {
    height: 160px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ball-clip-rotate > div {
    width: 60px;
    height: 60px;
  }
  