@import "../../sass//partials/shapes";
@import "../../sass//partials/variables";

.searchbox {
  @include square();
  margin: 0 auto;
  max-width: 1000px;
  width: 90%;
  min-height: 200px;
  position: relative;

  @media screen and (min-width: 992px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

.searchbox__container {
  padding: 1em 0;
  flex: 1 1;
  position: relative;
  display: flex;
  flex-direction: column;

  label {
    align-self: center;
    margin-bottom: 0.2em;
  }

  @media screen and (min-width: 1074px) {
    padding: 2em;
  }
}

.searchbox__label {
  font-size: 1.2rem;
  font-weight: bold;

  @media screen and (min-width: 992px) {
    font-size: 1.5rem;
  }
}

.searchbox__category {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  flex: 1;
  transition: height 0.3s ease;
  position: relative;
}

.searchbox__category--title {
  margin-bottom: 10px;
  font-weight: 600;
}

.searchbox__circles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  a {
    text-decoration: none;
  }

  @media screen and (min-width: 992px) {
    flex-direction: row;
  }
}

.searchbox__circles--small {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.searchbox__circle {
  @include circle($size: 80px, $borderWidth: 1px);
  border-color: $color-secondary;
  color: $color-secondary;

  &:hover, &--active {
    background-color: $color-primary;
    border-color: $color-primary;
    color: white;
  }
}

.searchbox__circle--big {
  @extend .searchbox__circle;
  width: 110px;
  height: 110px;

  &:hover {
    background-color: $color-secondary;
    border-color: $color-secondary;
  }
}

.arrow-icons {
  position: absolute;
  left: 50%;
  transition: 0.4s;
  color: $color-secondary;
}

.fa-chevron-down {
  @extend .arrow-icons;
  bottom: 0;
  transform: translate(-50%, 50%);

  &:hover {
    padding-top: 0.2em;
  }
}

.fa-chevron-up {
  @extend .arrow-icons;
  bottom: -28px;
  transform: translate(-50%, 70%);

  &:hover {
    padding-bottom: 0.3em;
  }
}

.searchbox__results__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.searchbox__results {
  display: flex;
  flex-direction: column;
  width: 100%;
  white-space: pre-wrap;
  color: $color-dark;

  &--title {
    font-weight: bold;
  }

  &--address {
    font-style: italic;
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--image {
    display: flex;
    align-items: center;
    padding: 0.3em;
    min-width: 50px;

    img {
      width: 100%;
      object-fit: scale-down;
      max-width: 60px;
      border-radius: $border-radius-primary;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

ul {
  svg {
    display: none;

    @media screen and (min-width: 800px) {
      display: block;
    }
  }
}
