@import "../../../sass/partials/variables";

.facilities {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 3fr));
  gap: 1em;
  padding-bottom: 1.5em;
}

.facilitiesItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;

  span {
    text-align: center;
  }
}

.facilitiesItemIcon {
  border: 1px solid $color-grey;
  border-radius: 12px;
  padding: 1em;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.3em;

  & > svg {
    width: 1.4em;
    height: 1.4em;
  }
}
