@import "../../../sass/partials/variables";
@import "../../../sass/partials/shapes";

.header {
  width: 100%;
  height: 450px;
  position: relative;

  h1 {
    margin-bottom: 1em;
  }

  @media screen and (min-width: 830px) {
    border-radius: 12px;
    padding: 0 2em;

    h1 {
      margin-bottom: 0;
    }
  }
}

.header__container {
  display: flex;
  flex-direction: column;
  padding: 2em;
  max-width: 1280px;
  margin: 0 auto;
  color: white;

  address {
    font-size: 1.1rem;
  }

  a {
    margin-bottom: 1em;
    color: white;

    &:hover {
      color: $color-dark;
    }
  }
}

.header__icon {
  gap: 15px;
  display: flex;
  align-items: center;
}

.hader__icon--text {
  color: $color-primary;
  font-weight: bold;
  font-size: 1.1rem;
}

.header__circle {
  @include circle($size: 60px, $borderWidth: 3px);
  font-size: 0.7rem;

  img {
    max-width: 35px;
  }
}
