.header {
  width: 100%;
  height: 450px;
  position: relative;

  h1 {
    margin-bottom: 1em;
  }

  @media screen and (min-width: 830px) {
    border-radius: 12px;
    padding: 0 2em;

    h1 {
      margin-bottom: 0;
    }
  }
}
