@import "../../sass/partials/variables";
@import "../../sass/partials/shapes";

.socialMediaContent {
  display: flex;
  gap: 10px;
}

.socialMediaCircle {
  @include circle($borderColor: $color-grey, $size: 40px);
  opacity: 0.8;
  font-size: 1.3em;
  color: $color-grey;

  @media screen and (min-width: 830px) {
    @include circle($borderColor: $color-grey, $size: 50px);
    color: $color-grey;
  }

  &:hover {
    filter: brightness(0.3);
    cursor: pointer;
  }
}
