@import "../../../sass/partials/variables";
@import "../../../sass/partials/shapes";

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.5em 1.5em 0 1.5em;
  z-index: 200;
  background: white;

  @media screen and (min-width: 830px) {
    padding: 1.5em 0 0 0;
  }
}

.footerContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 885px) {
    flex-direction: row-reverse;
  }
}

.footerContentLinks,
.footerContentContact {
  display: flex;
  flex-direction: column;
  padding: 2em;
  line-height: 2;

  span {
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  a {
    text-decoration: none;
    color: $color-dark;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footerContentLogo {
  padding: 2em;

  p {
    max-width: 306px;
  }

  img {
    max-width: 150px;
  }
}

.footerCopyright {
  text-align: center;
  font-size: 0.9rem;
}
