.details__header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1em;

    p {
        margin-top: .2em;
    }

    &--top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}