@import "../../sass//partials/shapes";
@import "../../sass//partials/variables";

.backgroundBox {
  background-color: transparent;
  border-radius: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1em;
  margin-bottom: 2em;

  @media screen and (min-width: 781px) {
    background-color: $color-background;
  }
}

.listingsGrid {
  width: 100%;
  max-width: 1190px;
  margin-top: -5em;
  display: grid;
  z-index: 10;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 382px), 1fr));
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: $border-radius-primary;
  background-color: white;
  height: 260px;
  min-width: 90%;
  z-index: 100;
  margin-bottom: 2em;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  text-decoration: none;

  @media screen and (min-width: 830px) {
    min-width: 356px;
  }

  &:hover {
    top: -12px;
    filter: brightness(0.95);
    cursor: pointer;
  }
}

.cardImage {
  background: linear-gradient(
    0deg,
    rgba(245, 245, 245, 0) 40%,
    rgba(0, 0, 0, 0.44021358543417366) 90%
  );
  max-height: 150px;
  position: relative;
}

.cardImage img {
  max-height: 150px;
  object-fit: cover;
  width: 100%;
  z-index: -1;
  position: relative;
}

.cardTitle {
  padding: 0 1em;
  position: absolute;
  top: 0;
  color: white;
  text-shadow: 3px 2px 5px rgb(0 0 0 / 70%);
}

.cardDetails {
  padding: 1em;
  position: relative;
  white-space: nowrap;

  & > * {
    margin: 2px;
  }

  span {
    color: $color-bright;
    font-weight: bold;
  }

  p {
    color: $color-grey;
    font-size: 0.8em;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 72%;
  }

  div > * {
    color: $color-dark;
  }
}

.cardCircle {
  @include circle($borderColor: $color-secondary);
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-weight: bold;

  span {
    margin-top: -5px;
  }
}

//skeleton
.skeletonText{
  width: 100%;
}
