body {
  font-family: $font-primary;
  line-height: 1.5;
}

p {
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: $color-dark
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Loader from react loaders*/
.ball-clip-rotate > div {
  width: 60px;
  height: 60px;
}

.MuiMenuItem-root:hover {
  background: $color-background !important;
}

