/*General Button style*/
@mixin button($borderColor: $color-dark, $color: $color-dark, $backgroundColor: white) {
    font-family: $font-header;
    border: 1px solid $borderColor;
    color: $color;
    border-radius: 12px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1em 0;
    padding: .7em;
    text-decoration: none;
    transition: 0.4s !important;
    background-color: $backgroundColor;
    cursor: pointer;
    width: 100%;
}

.btn {
    @include button($backgroundColor: $color-primary, $borderColor: transparent, $color: white);
    margin-top: 1em !important;
    box-shadow: 2px 5px 13px rgba(23, 57, 109, 0.47);

    &:hover {
        background-color: $color-secondary;
    }
}

.btn-navigation {
    @include button();
    width: 200px;

    &:hover, &.active {
        background-color: $color-primary;
        border-color: $color-primary;
        color: white;
    }

    @media screen and (min-width: 830px) {
            width: 150px;
            padding: 0.4em;
            height: 47px;
      }
}

.btn-logout {
    margin-top: .3em;
    padding: .5em;
}

.btn-floating {
    @include button($backgroundColor: $color-primary, $borderColor: transparent, $color: white);
    margin: 0 !important;
    box-shadow: 2px 5px 13px rgba(23, 57, 109, 0.47);
    padding: .5em;
    max-width: 40%;

    &:hover {
        background-color: $color-secondary;
    }
}

.btn-form {
    @media screen and (min-width: 830px) {
        width: 50%;
        margin: 0 auto;
        max-width: 300px;
  }
}




