/*Fonts*/
$font-primary: "Source Sans Pro";
$font-header: "Inter";

/*Colors*/
$color-primary: #17396D;
$color-secondary: #3474D4;
$color-dark: #1A1A1A;
$color-background: #EFF5FE;
$color-bright: #F3746C;
$color-grey: #707070;

/*Borders*/
$border-radius-primary: 12px;
$border-radius-background: 30px;
$border-radius-circle: 50%;

//Spinner color
$primary-color: $color-secondary;

//Max page width
$max-width: 1400px;